*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.brand-name{
  color: #F15B4E;
  font-weight: bold;
}
.nav-links a{
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-size: 15px;
}
.menu-bar{
  width: 25px;
  display: none;
}
.btn{
  padding: 8px 15px;
  border-radius: 15px;
  border: transparent;
  background:  #F15B4E;
}
.btn a{
  text-decoration: none;
  color: white;
}


.home-section{
  background: #ECF2F8;
}
.home-container{
  padding: 20px 0;
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home-heading{
  text-align: center;
}
.home-heading h3{
  font-size: 40px;
  margin-top: 60px;
}
.home-heading p{
  margin: 20px;
}
.home-heading p span{
  font-weight: bold;
}
.headspan{
  color: #F15B4E;
}
.home-img img{
  width: 80%;
  margin: 10px auto;
  margin-left: 50px;
}

.left-images{
  position: absolute;
  bottom: 15%;
  left: 5%;
}
#left-img2{
  position: absolute;
  margin-top: 100px;
}
.right-images{
  position: absolute;
  bottom: 15%;
  right: 5%;
}
#right-img1{
  position: absolute;
  right: 240px;
  top: 100px;
}
.home-images{
  width: 240px;
}


/* Slide Logos */
@keyframes slide {
  from {
    transform: translateX();
  }
  to {
    transform: translateX(-100%);
  }
}
.sliding-logos{
  width: 60%;
  overflow: hidden;
  margin: 10px auto;
  white-space: nowrap;
}
.logo-slide{
  display: inline-block;
  padding: 10px;
  animation: 8s slide infinite  linear;
}
.logo-slide img{
  margin-right: 20px;
}


/* Products Section */
.products-section{
  background: #ECF2F8;
  padding: 50px;
  padding-right: 0;
}
.products-section h3{
  color: #00263D;
  text-align: center;
  font-size: 20px;
}
.products-section h3 span{
  font-weight: bold;
  color: black;
}
.products-container{
  margin-left: 100px;
  margin-top: 30px;
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.products-para{
  padding: 15px 100px;
  margin-top: 50px;
}
.products-para h4{
  font-size: 20px;
  margin: 20px 0;
}
.products{
  grid-column: 2/4;
  background: white;
  padding: 20px 20px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}
.product{
  margin-right: 20px;
  box-shadow:  0 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.product-img img{
  width: 100%;
}
.product-details{
  padding: 30px;
}
.product-details h4{
  margin: 15px 0;
  color: #F15B4E;
}
.product-details p{
  margin: 10px 0;
}
.btn-div{
  margin-top: 20px;
}
.productBtn{
  padding: 3px 5px;
  width: 100px;
  margin-right: 10px;
}


.feedback-section{
  background: #F3F7FC;
  margin: 30px 0;
  margin-bottom: 0;
}
.feedbacks{
  width: 30%;
  margin: 0 auto;
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.feedback{
  padding: 20px;
  background: #CCF2DD;
  border-radius: 8px;
  text-align: center;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.focused{
  display: block;
}

footer{
  padding: 50px 0;
  text-align: center;
  font-size: 20px;
  background: #00263D;
  color: white;
}

/* Starts Responsive Css */
@media screen and (max-width: 672px) {
  .navbar{
    justify-content: space-between;
    padding: 10px 30px;
  }
  .nav-links{
    display: none;
  }
  .btn{
    display: none;
  }
  .menu-bar{
    display: block;
  }
  .home-heading h3{
    font-size: 30px;
  }
  .home-heading p{
    font-size: 12px;
  }
  .sliding-logos{
    width: 80%;
  }
  .feedbacks{
    width: 80%;
  }
  
}
@media screen and (max-width: 788px){
  .sliding-logos{
    width: 70%;
  }
  .products-container{
    margin-left: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .products{
    grid-column: 2/1;
    background: white;
  }
  .products-section{
    padding: 0;
    padding-top: 20px;
  }
  .products-para{
    padding: 10px 30px;
    text-align: center;
  }
  .feedbacks{
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .left-images, .right-images{
    display: none;
  }
}